<!-- Fondo 3-->
<div class="fondo-3">
    <div class="gradient-top"></div>
    <div class="fondo-texto-container">
        <p class="fondo-texto">Contacto</p>
    </div>
    <div class="gradient"></div>
</div>