<!-- Fondo -->
<div class="fondo-1" id="home">
    <div class="fondo-texto-container">
        <p class="fondo-texto">
            <a href="#about" style="text-decoration: none"
                >FotosDeNuestrosGatos</a
            >
        </p>
    </div>
    <div class="gradient"></div>
</div>