<!-- Fondo 2-->
<div class="fondo-2" id="photos">
    <div class="gradient-top"></div>
    <div class="fondo-texto-container">
        <p class="fondo-texto">Fotos</p>
    </div>
    <div class="gradient"></div>
</div>