<div class="intro">
    <div class="intro-text">
        <h1 class="hide">
            <span class="text">Sube las fotos</span>
        </h1>
        <h1 class="hide">
            <span class="text">favoritas de</span>
        </h1>
        <h1 class="hide">
            <span class="text">tus gatos.</span>
        </h1>
    </div>
</div>
<div class="slider"></div>
<script src="/js/animation.js"></script>