 <!-- Navbar -->
        <div class="navbar">
            <div class="navbar-content">
                <div class="progress-container">
                    <div class="progress-bar" id="myBar"></div>
                </div>
                <ul class="navbar-menu">
                    <li class="navbar-item">
                        <a href="/" class="navbar-link" id="home-page"
                            >Inicio</a
                        >
                    </li>
                    <li class="navbar-item">
                        <a href="#about" class="navbar-link" id="about-page"
                            >Historia diaria</a
                        >
                    </li>
                    <li class="navbar-item">
                        <a href="#photos" class="navbar-link" id="photos-page"
                            >Fotos</a
                        >
                    </li>
                    <li class="navbar-item">
                        <a href="/messages" class="navbar-link" id="contact-page"
                            >Contacto</a
                        >
                    </li>
                    <div class="loginButtons">
                        <li class="navbar-item">
                            <a
                                href="photo"
                                class="navbar-link"
                                id="login-page"
                            >
                                Compartir
                            </a>
                        </li>
                    {#     <li class="navbar-item">
                            <a
                                href="#register"
                                class="navbar-link"
                                id="register-page"
                                >Registrarse
                            </a>
                        </li>
                    </div> #}
                </ul>
            </div>
        </div>